body {
  background: #fc5c7d;
  background: -webkit-linear-gradient(to right, #6a82fb, #fc5c7d);
  background: linear-gradient(to right, #6a82fb, #fc5c7d);
  margin: 0;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 13px;
}

.flex-center-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
}

.principal {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.tarjeta-principal {
  width: 60%;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #a2a2a226;
}

.tarjeta-principal-titulos {
  width: 80%;
  text-align: center;
}

.tarjeta-principal-contraseña {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.contenedor-contraseña {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a2a2a25c;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  max-width: 400px;
  position: relative;
}

.contraseña {
  color: white;
  font-size: 13px;
}

.boton-resetear {
  position: absolute;
  right: 15px;
  font-size: 15px;
  color: white;
  border: none;
  background: none;
}

.boton-resetear:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.contenedor-botones {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.boton {
  border: none;
  width: 150px;
  max-width: 200px;
  height: 30px;
  display: flex;
  color: white;
  font-size: 13px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: #a2a2a25c;
}

.boton p {
  margin-right: 5%;
}

.boton:hover {
  background-color: #5655555c;
}

.tarjeta-secundaria {
  width: 80%;
  max-width: 400px;
  margin: 10px;
  margin-bottom: 2.075em;
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-color: #a2a2a25c;
  font-size: 12px;
}

.input-caracteres {
  border: none;
  border-radius: 5px;
  color: white;
  outline: none;
  background-color: #f4efef40;
  width: 40px;
  height: 15px;
  margin: 10px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.contenedor-reglas {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1.25em;
}

.contenedor-botones-radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contenedor-boton-radio {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.contenedor-checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contenedor-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

/* Mobile media query  */
@media only screen and (max-width: 600px) {
  .tarjeta-principal {
    width: 90%;
  }

  h1 {
    font-size: 20px;
  }

  .contenedor-botones {
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  .contenedor-reglas {
    flex-direction: column;
    align-items: center;
  }
}

/* Tablet media query  */
@media only screen and (min-width: 601px) and (max-width: 990px) {
  .tarjeta-principal {
    width: 70%;
  }

  h1 {
    font-size: 25px;
  }
}
